$primary-color: #ffffff;
$text-color: #333;
$main-links: #3376da;
$card-color: #151515;
$card-font: "Anonymous Pro", sans-serif;
$text-font: "Roboto", sans-serif;
$header-font: "Open Sans", sans-serif;

body {
  font-family: $text-font;
  background: $primary-color;
  color: $text-color;
  margin: 2%;
}

hr {
  border-top: 2px dashed #8c8b8b;
  width: 80%;
}

.hidden-hr {
  display: none;
}

/* Main content */
.about-content,
.projects-content,
.experience-content,
.education-content,
.contact-content {
  padding: 2% 10% 2% 10%;
}

.centered-header > h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Center console card */

.logo {
  flex-grow: 2;
  font-size: 40px;
  font-weight: 900;
  font-family: $text-font;
}

.center-text {
  display: flex;
  width: 100%;
  justify-content: center;
}

.center-card {
  margin: 0 5% 0 0;
  padding: 5%;
  width: 70%;
  font-family: $card-font;
  background: $card-color;
  color: #29ce6e;
  border: 5px solid #b7a9a1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

/* Navigation */

.nav-main {
  margin: 0 5% 0 0;
  display: flex;
  align-content: center;
}

.nav-items {
  padding-inline-start: 0px;
  font-family: $text-font;
  font-weight: 700;
  list-style-type: none;
}

button:focus {
  outline: none;
}

a {
  color: $main-links;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover {
  color: #333;
}

/* Typewriter effect */

.typewriter-one {
  animation: type_text_one;
}

.typewriter-two {
  animation: type_text_two;
}

.typewriter-one,
.typewriter-two {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 15s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.typewriter-one::after,
.typewriter-two::after {
  content: "|";
  position: relative;
  right: 0;
  animation: blink-caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes type_text_one {
  10%,
  40% {
    width: 11em;
  }
  0%,
  50%,
  100% {
    width: 0;
  }
}

@keyframes type_text_two {
  0%,
  50% {
    width: 0;
  }
  60%,
  100% {
    width: 22em;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* CSS buttons for larger devices */

@media only screen and (min-width: 1000px) {
  /* main screen with buttons */
  .main-screen-buttons {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  /* Main Content */
  .about {
    display: none;
  }
  .projects {
    display: none;
  }
  .experience {
    display: none;
  }
  .contact {
    display: none;
  }

  .about,
  .projects,
  .experience,
  .contact {
    position: fixed;
    z-index: 1;
    top: 0;
    height: 80%;
    width: 75%;
    overflow: auto;
    background-color: #192150d9;
    margin: 5%;
    padding: 20px;
    border: 3px solid #f0f323;
    border-radius: 10px;
  }

  .about-close-content,
  .projects-close-content,
  .experience-close-content,
  .contact-close-content {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

    &:hover,
    &:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }

  /* Nav Menu */

  .nav-items {
    padding-inline-start: 0px;
    font-family: $text-font;
    font-size: 20px;
    font-weight: 700;
    list-style-type: none;
  }

  .roundHex {
    position: relative;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 144px;
    width: 90px;
    box-sizing: border-box;
    transition: all 1s;
    border: 8px solid transparent;
    border-top-color: #1f2833;
    border-bottom-color: #1f2833;
    transform: rotate(30deg);
    margin-top: 20px;
    font-size: 20px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-30deg);
      color: #090909;
      width: 100%;
      height: 100%;
    }

    &:before,
    &:after {
      content: "";
      border: inherit;
      position: absolute;
      top: -8px;
      left: -8px;
      background: inherit;
      border-radius: inherit;
      height: 100%;
      width: 100%;
      box-sizing: content-box;
    }
    &:before {
      transform: rotate(60deg);
    }
    &:after {
      transform: rotate(-60deg);
    }
    &:hover {
      border-top-color: #3376da;
      border-bottom-color: #3376da;
      cursor: pointer;
      a {
        color: #3376da;
      }
    }
    &:focus {
      border-top-color: #3376da;
      border-bottom-color: #3376da;
      background: rgba(6, 130, 172, 0.05);
      transform: rotate(-330deg);
      a {
        color: #3376da;
      }
    }
  }

  .logo {
    display: none;
  }

  .blur-overlay {
    display: block;
    background: rgba(199, 199, 199, 0.8);
  }
}

/* mobile devices */

@media only screen and (max-width: 999px) {
  .hidden-hr {
    display: flex;
  }

  .center-card {
    margin: 5%;
    width: auto;
    padding: 20% 0 20% 0;
  }

  .about-close-content,
  .projects-close-content,
  .experience-close-content,
  .contact-close-content {
    display: none;
  }

  .nav-main {
    display: flex;
    align-items: center;
    margin: 0% 1%;
  }

  .center-card {
    font-size: 12px;
  }

  .logo {
    display: flex;
    align-content: center;
    font-size: 20px;
    font-weight: 900;
  }

  .nav-items {
    display: flex;
  }

  .contact-content {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 680px) {
  .center-card {
    font-size: 8px;
  }
}

@media only screen and (max-width: 480px) {
  .center-card {
    display: none;
  }
}
