html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e5e4e2;
  color: #333;
  margin: 0%;
}

hr {
  border-top: 2px dashed #8c8b8b;
  width: 80%;
}

.hidden-hr {
  display: none;
  margin-top: 0%;
  margin-bottom: 0%;
}

/* Main content */
.project-description {
  padding: 0 3em 0 3em;
  text-align: center;
}

.project-description h3 {
  margin-bottom: 0.1em;
}

.project-description p:nth-child(3) {
  margin-top: 0;
}

.text-content > p {
  text-indent: 50px;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2em;
}

.box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.edu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ld-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.edu-box > p:nth-child(1) {
  margin-bottom: 0;
}

.edu-box > p:nth-child(2) {
  margin-top: 0;
}

/* Center console card */
.logo {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: 40px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.center-text {
  width: 100%;
  text-align: center;
}

.center-card {
  margin: 0 5% 0 0;
  padding: 1% 0 1% 1%;
  width: 80%;
  font-family: "Anonymous Pro", sans-serif;
  background: #151515;
  color: #29ce6e;
  border: 5px solid #f6f6f6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 10px 10px 10px -5px #00000080;
          box-shadow: 10px 10px 10px -5px #00000080;
}

.dummy-buttons {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.red {
  height: 0.9em;
  width: 0.9em;
  background-color: #ff6159;
  border-radius: 50%;
  display: inline-block;
}

.yellow {
  height: 0.9em;
  width: 0.9em;
  background-color: #ffbe2e;
  border-radius: 50%;
  display: inline-block;
}

.green {
  height: 0.9em;
  width: 0.9em;
  background-color: #2ad044;
  border-radius: 50%;
  display: inline-block;
}

/* Navigation */
.nav-main {
  margin: 0 5% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-items {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  list-style-type: none;
}

button:focus {
  outline: none;
}

a {
  color: #3592a3;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover {
  color: #333;
}

#collapse-menu {
  display: none;
}

/* Typewriter effect */
.typewriter-one {
  -webkit-animation: type_text_one;
          animation: type_text_one;
}

.typewriter-two {
  -webkit-animation: type_text_two;
          animation: type_text_two;
}

.typewriter-three {
  -webkit-animation: type_text_three;
          animation: type_text_three;
}

.typewriter-one,
.typewriter-two {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  position: relative;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: steps(15, end);
          animation-timing-function: steps(15, end);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin: 0 0 0 1em;
}

.typewriter-three {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin: 15% 0 0 0;
  width: 100%;
  position: relative;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.typewriter-one::after,
.typewriter-two::after {
  content: "|";
  position: relative;
  right: 0;
  -webkit-animation: blink-caret infinite;
          animation: blink-caret infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

@-webkit-keyframes type_text_one {
  10%,
  40% {
    width: 11em;
  }
  0%,
  50%,
  100% {
    width: 0;
  }
}

@keyframes type_text_one {
  10%,
  40% {
    width: 11em;
  }
  0%,
  50%,
  100% {
    width: 0;
  }
}

@-webkit-keyframes type_text_two {
  0%,
  50% {
    width: 0;
  }
  60%,
  100% {
    width: 22em;
  }
}

@keyframes type_text_two {
  0%,
  50% {
    width: 0;
  }
  60%,
  100% {
    width: 22em;
  }
}

@-webkit-keyframes type_text_three {
  100% {
    width: 100%;
  }
}

@keyframes type_text_three {
  100% {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes blink-caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* CSS buttons for larger devices */
@media only screen and (min-width: 1000px) {
  /* main body */
  .main-screen-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 5% 0 0 0;
  }
  .center-card > h1:nth-of-type(1) {
    padding: 10% 0 0 0;
  }
  /* Screen contact links */
  .contact-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact-menu > a {
    color: #29ce6e;
  }
  .contact-menu > a:hover {
    color: #dddddd;
  }
  .contact-menu > a > i {
    margin: 0 0.3em 0 0;
  }
  /* Main Content */
  #about {
    visibility: hidden;
    opacity: 0;
  }
  #projects {
    visibility: hidden;
    opacity: 0;
  }
  .exp-edu {
    visibility: hidden;
    opacity: 0;
  }
  #contact {
    display: none;
  }
  #about,
  #projects,
  .exp-edu {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: visibility 0.3s, opacity 0.3s linear;
    transition: visibility 0.3s, opacity 0.3s linear;
  }
  #education {
    margin: 2em 0 0 0;
  }
  .centered-header > h1 {
    border: 3px solid #1aaa8b;
    border-bottom: none;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background: -webkit-gradient(linear, left top, right top, color-stop(20%, #fff), color-stop(80, #5f9ea0));
    background: linear-gradient(90deg, #fff 20%, #5f9ea0 80);
    padding: 2%;
    text-align: center;
    width: 24.48em;
    margin: 0%;
  }
  .centered-content {
    position: absolute;
    left: 20%;
    top: 15%;
  }
  .centered-content-exp-edu {
    position: absolute;
    left: 20%;
    top: 15%;
  }
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-content,
  .projects-content,
  .experience-content,
  .education-content,
  .contact-content {
    border: 3px solid #1aaa8b;
    border-top: none;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #fff;
    color: #2f4f4f;
    padding: 5%;
    width: 46em;
  }
  .text-content {
    margin: 1em 0 0 2em;
  }
  .about-close-content,
  .projects-close-content,
  .experience-close-content,
  .contact-close-content {
    position: fixed;
    top: 0em;
    right: 0.3em;
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    -webkit-transition: ease-out 2s;
    transition: ease-out 2s;
  }
  .about-close-content:hover, .about-close-content:focus,
  .projects-close-content:hover,
  .projects-close-content:focus,
  .experience-close-content:hover,
  .experience-close-content:focus,
  .contact-close-content:hover,
  .contact-close-content:focus {
    color: #02bad3;
    text-decoration: none;
    cursor: pointer;
  }
  /* Nav Menu */
  .nav-items {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    list-style-type: none;
  }
  .roundHex {
    position: relative;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    height: 160px;
    width: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 1s;
    transition: all 1s;
    border: 8px solid transparent;
    border-top-color: #1f2833;
    border-bottom-color: #1f2833;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    margin-top: 2.2em;
    font-size: 20px;
  }
  .roundHex:before, .roundHex:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -8px;
    left: -8px;
    background: inherit;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .roundHex:before {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .roundHex:after {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  .roundHex:hover {
    border-top-color: #02bad3;
    border-bottom-color: #02bad3;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 10px -5px #00000080;
            box-shadow: 0px 10px 10px -5px #00000080;
  }
  .roundHex:hover .middle {
    color: #02bad3;
  }
  .roundHex:focus, .roundHex:active {
    border-top-color: #02bad3;
    border-bottom-color: #02bad3;
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 10px 10px -5px #00000080;
            box-shadow: 0px 10px 10px -5px #00000080;
  }
  .middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    color: #090909;
    width: 100%;
    height: 100%;
  }
  .contact-button {
    display: none;
  }
  .logo {
    display: none;
  }
}

/* mobile devices */
@media only screen and (max-width: 999px) {
  body {
    margin-top: 6em;
  }
  /* navigation and typewriter */
  .nav-main {
    position: fixed;
    z-index: 1;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background: #f9f9f9;
    padding: 0 2% 0 2%;
    -webkit-box-shadow: 0 2px 2px -2px #00000080;
            box-shadow: 0 2px 2px -2px #00000080;
  }
  .center-card {
    font-size: 12px;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 20px;
    font-weight: 900;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
  .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .close {
    width: 100%;
  }
  .open {
    width: 100%;
  }
  .nav-items > a > li > button {
    font-size: 16px;
    background: #dcdcdc;
    border-radius: 2em;
    width: 100%;
  }
  .centered-header > h1 {
    background: #5f9ea0;
    margin: 0 0 0 10%;
    width: 76%;
    padding: 2%;
    text-align: center;
  }
  /* main content */
  .about-content > p:nth-child(1),
  .projects-content > p:nth-child(1),
  .experience-content > p:nth-child(1),
  .education-content > p:nth-child(1) {
    margin-top: 0%;
  }
  .hidden-hr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .center-card {
    margin: 5%;
    width: auto;
    height: 30em;
    padding: 1% 0 0 1%;
  }
  #about,
  #projects,
  #experience,
  #education {
    margin: 0 0 5% 0;
  }
  .head-shot {
    width: 30%;
    height: 30%;
    margin: 0 2em 0 0;
  }
  .about-content,
  .projects-content,
  .experience-content,
  .education-content {
    padding: 2% 5% 2% 5%;
    margin: 0 10% 0% 10%;
    background: #fff;
    border-left: 0.5px #000;
    border-right: 0.5px #000;
    margin-bottom: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-close-content,
  .projects-close-content,
  .experience-close-content,
  .contact-close-content {
    display: none;
  }
  .typewriter-three {
    margin: 0;
    display: none;
  }
  #about-anchor,
  #projects-anchor,
  #experience-anchor {
    display: block;
    height: 120px;
    margin-top: -120px;
    visibility: hidden;
  }
  /* footer */
  footer {
    width: auto;
  }
  .contact-box {
    -webkit-box-shadow: 0px 0px 2px 0px #00000080;
            box-shadow: 0px 0px 2px 0px #00000080;
    padding: 1% 0 5% 0;
    background: #fff;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 5% 0 5%;
    font-size: 2.5em;
  }
  .contact-content > a:hover {
    color: #7e7e7e;
  }
}

@media only screen and (max-width: 800px) {
  .ld-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .ld-box > p:nth-child(1) {
    margin-bottom: 0.5em;
  }
  .ld-box > p:nth-child(2) {
    margin-top: 0;
  }
  .edu-box {
    width: 100%;
  }
  .edu-box > p:nth-child(1) {
    width: 100%;
    text-align: center;
  }
  .edu-box > p:nth-child(2) {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width: 800px) {
  .head-shot {
    display: none;
  }
  .project-description > img {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .center-card {
    font-size: 8px;
  }
  /* nav menu */
  .nav-items {
    display: inline;
    position: fixed;
    height: 100%;
    width: 0%;
    z-index: 1;
    top: 3.2em;
    right: 0;
    background-color: #b3b3b380;
    overflow-x: hidden;
    margin: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav-items > a > li {
    padding: 0;
    width: auto;
  }
  .nav-items > a > li:hover, .nav-items > a > li:focus, .nav-items > a > li:active {
    background: #02bad380;
  }
  .nav-items > a > li > button {
    background: transparent;
    font-size: 20px;
    border: none;
    padding: 1.5em;
  }
  .close {
    width: 0%;
  }
  .open {
    width: 70%;
  }
  #collapse-menu {
    display: block;
    padding: 1em 1.5em 1em 1.5em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0 0.43em 0 0;
  }
  #collapse-menu:hover, #collapse-menu:focus, #collapse-menu:active {
    background: #02bad3;
  }
  .about-button:hover,
  .projects-button:hover,
  .experience-button:hover,
  .contact-button:hover {
    cursor: pointer;
  }
  .project-links {
    padding: 0 0 0 0;
  }
}

@media only screen and (max-width: 480px) {
  .typewriter-one {
    display: none;
  }
  .typewriter-two {
    -webkit-animation: none;
            animation: none;
    white-space: normal;
    text-align: center;
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */